.recipe_container {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 77.5vh;
  aspect-ratio: 1;
  border-radius: 20px;
  overflow: hidden;
}

.bloc-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 2rem;
}
.recipe__image--wrapper {
  height: 100%;
  width: 40rem;
}

.recipe__pic {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
}

.recipe__image {
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
}

.recipe__title {
  top: 15%;
  left: 50%;
  font-size: 2rem;
  text-wrap: balance;
  color: rgb(12, 4, 4);
  text-align: center;
  text-shadow: 1px 1px #ac3c3c;
}
.recipe__rightside {
  background-color: rgba(231, 163, 69, 0.378);
  border-right: 2px solid;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
}
.recipe-description {
  font-size: 2rem;
}
