.Searchbar {
  margin: 1rem 30rem;
  padding: 2rem 6rem;
  background-image: linear-gradient(
    70deg,
    hsl(0deg 100% 72%) 0%,
    hsl(6deg 100% 71%) 8%,
    hsl(11deg 100% 70%) 18%,
    hsl(16deg 100% 69%) 32%,
    hsl(21deg 100% 68%) 48%,
    hsl(25deg 100% 67%) 65%,
    hsl(29deg 100% 67%) 79%,
    hsl(33deg 100% 67%) 89%,
    hsl(37deg 100% 67%) 96%,
    hsl(40deg 100% 67%) 100%
  );
  border-radius: 7rem;
  border: 2px solid hsl(0deg 100% 72%);
}

.Searchbar__input {
  border: none;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 2rem 5rem;
  font-family: inherit;
  font-weight: 700;
}
.Searchbar__input:focus {
  outline: 2px solid hsl(37deg 100% 67%);
}

.Searchbar__btn {
  padding: 2rem 3rem 2rem 1.75rem;
  border: none;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  background-color: hsl(0deg 100% 72%);
  cursor: pointer;
  color: white;
  border-left: 1px solid hsl(0deg 100% 72%);
  font-family: inherit;
  font-weight: 700;
}
