.Searchbar {
  opacity: 80%;
  display: grid;
  place-content: center;
  margin: 1rem auto;
  width: 80rem;
  padding: 2rem 6rem;
  background-image: linear-gradient(
    70deg,
    hsl(0, 62%, 52%) 0%,
    hsl(6, 80%, 47%) 8%,
    hsl(11, 93%, 42%) 18%,
    hsl(16deg 100% 69%) 32%,
    hsl(21deg 100% 68%) 48%,
    hsl(25deg 100% 67%) 65%,
    hsl(14, 71%, 49%) 79%,
    hsl(13, 82%, 46%) 89%,
    hsl(4, 78%, 47%) 96%,
    hsl(1, 76%, 45%) 100%
  );
  border-radius: 7rem;
  /* border: 1px solid hsl(0, 73%, 45%); */
}

.Searchbar--top {
  opacity: 80%;
  display: block;
  margin: 1rem auto;
  width: 60rem;
  padding: 1rem 6rem;
  background-image: linear-gradient(
    70deg,
    hsl(0, 62%, 52%) 0%,
    hsl(6, 80%, 47%) 8%,
    hsl(11, 93%, 42%) 18%,
    hsl(16deg 100% 69%) 32%,
    hsl(21deg 100% 68%) 48%,
    hsl(25deg 100% 67%) 65%,
    hsl(14, 71%, 49%) 79%,
    hsl(13, 82%, 46%) 89%,
    hsl(4, 78%, 47%) 96%,
    hsl(1, 76%, 45%) 100%
  );
  border-radius: 7rem;
  position: absolute;
  top: 1rem;
  right: 7rem;
}

.Searchbar__input {
  border: none;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 2rem 20rem;
  font-family: inherit;
  font-weight: 700;
}
.Searchbar__input:focus {
  outline: 2px solid hsl(37deg 100% 67%);
}

.Searchbar__btn {
  padding: 2rem 3rem 2rem 1.75rem;
  border: none;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  background-color: rgb(230, 32, 21);
  cursor: pointer;
  color: white;
  border-left: 1px solid hsl(0deg 100% 72%);
  font-family: inherit;
  font-weight: 700;
}

.Searchbar--top .Searchbar__input {
  padding: 1rem 10rem;
}

.Searchbar--top .Searchbar__btn {
  padding: 1rem 3rem 1rem 1.75rem;
}

@media (width < 520px) {
  .Searchbar {
    padding: 1rem 2rem;
  }
}

@media (width < 400px) {
  .Searchbar {
    padding: 0;
    margin: 0;
    border: none;
    background-image: none;
  }
  .Searchbar__input {
    border: 2px solid hsl(37deg 100% 67%);
    border-right: none;
  }
  .Searchbar__btn {
    border: 2px solid hsl(37deg 100% 67%);
    border-left: none;
  }
}

@media (width <= 360px) {
  .Searchbar__input {
    padding: 1rem 2.5rem;
    border: 2px solid hsl(37deg 100% 67%);
    border-right: none;
  }
  .Searchbar__btn {
    border: 2px solid hsl(37deg 100% 67%);
    padding: 1rem 1.5rem 1rem 1rem;
    border-left: none;
  }
}
