html {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 246, 246);
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.video__container {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0px;
  left: 100px;
  z-index: 100;
}

.video {
  height: 100%;
  width: 100%;
}
