.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
html {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 246, 246);
}

.logo {
  position: absolute;

  width: 100px;
  height: 100px;
  top: 0px;
}
